<!DOCTYPE html>
<html>
<head>
<title>StudyZen</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<body style="background-color: rgb(240, 240, 240);">
     {% include 'nav.html' %}
    <div class="container my-5">
        <h6 class="text-uppercase text-muted fw-bold">STUDY TOGETHER. GROW TOGETHER.</h6>
        <h1 class="display-4 fw-bold">Study Together.
            Grow Together.
        </h1>
  <p> Welcome to StudyZen-- a friendly space where students can find study groups, share knowledge and learn together.</p>
    </div>


<div>
{% include 'Liveclass.html' %}
</div>



<div>
    <p class="mt-4">Join our live classes and interact with instructors and fellow students in real-time.</p>
    <p>Copyright 2026, StudyZen. All rights reserved.</p>
</div>
<!-- Bootstrap JS Bundle (Required for Navbar to collapse on mobile) -->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>

</html>